$main: #4284f4;
$main2: #71A4FA;
$main-light: #6DF2FB;
$disabledMain: #adadad;
$hover-white-text: #c6c6c6;
$hover-white-background: #e0e0e0;
$background: white;
$dark: black;
$hover-main-text: #3165bd;
$success: #35ac21;
$danger: #e52525;